body
{
  background-color: #F8F8F8;
  height:100%;
}

#wrap{
  height:100%;
}

@media (min-width: 768px) { 
    .navbar .nav,
  .navbar .nav > li {
      float:none;
      display:inline-block;
      *display:inline; /* ie7 fix */
      *zoom:1; /* hasLayout ie7 trigger */          
  } 
} 

.navbar-default{
  background-color: rgb(223, 223, 255);
}

.navbar-default .navbar-nav>li>a {
  font-weight:bold;
  color: #537CCF;
  font-family: 'Tangerine', cursive;
  font-size: 30px;
} 

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #E6E600;
  background-color: #537CCF;
  border-radius: 50px;
}

.navbar-toggle{
  width:200px;
  height:50px;
  float:none;
  margin-right:0px;
}

.navbar-toggle .icon-bar{
  width: 100%;
}

#footer{
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(223, 223, 255);
}

.footerLarge
{
  background-image: url('../images/hops.png');
}

.footerSmall
{
  background-image: url('../images/hops_sm.png');
}

#footer .container{
  margin-top: 15px;
}